
= render "stories/group"   , :resource => resources[:group][:data]
= render "stories/story"   , :resource => resources[:stories]
= render "stories/description" ,  :meta => {}
= subscribe_to "/messages/new"
