/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#new_story{
 margin-bottom: 0px;
}

.new_story_input{
 background-color: #ccc !important;
 border:0px ;
 margin-bottom: 0px !important;
 margin-top: 8px;
 }
